<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rick and Morty App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rick and Morty App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Rick and Morty App</strong>
    <ion-content>     
      <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
        <ion-fab-button href="/userslist">
          <ion-icon name="person"></ion-icon>
        </ion-fab-button>
      </ion-fab>   
    </ion-content>
  </div>
</ion-content>
